<!DOCTYPE html>
<html>
<head>
    <title>This Ability</title>
</head>
<body>
    <h1>Welcome to This Ability</h1>
    <p>Hi There, and welcome to This Ability! We are so delighted you chose This Ability to showcase and highlight your amazing abilities! Please feel free to share as much or as little as possible about yourself. You are more than welcome to share your triumphs, uniqueness, awesomeness, and the like as all are embraced here! Don't forget to highlight and place special emphasis on your awesome abilities you would like an employer to consider bringing you on board as an employee and a part of their company. We strive to match your incredible abilities with amazing and welcoming employers who are seeking and/or could use what you have to offer! I'm excited, and I hope you are too! Let's get started!</p>

    <h2>User Registration</h2>
    <p><a href="{% url 'user_registration' %}">Please register/signup to become one of our amazing clients</a></p>

    <h2>Employer Registration</h2>
    <p><a href="{% url 'employer_registration' %}">Please click the link to register as an Employer</a></p>

    <h2>Job Creation</h2>
    <p><a href="{% url 'job_creation' %}">Please click the link to list the job(s)/needed abilities for your business or company</a></p>

</body>
</html>
